<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/codecoolshop</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.codecool.shop.entities.Category"></mapping>
        <mapping class="com.codecool.shop.entities.SupplierDataBase"></mapping>
        <mapping class="com.codecool.shop.entities.Cart"></mapping>
        <mapping class="com.codecool.shop.entities.Order"></mapping>
        <mapping class="com.codecool.shop.entities.OrderDetails"></mapping>
        <mapping class="com.codecool.shop.entities.Product"></mapping>
        <mapping class="com.codecool.shop.entities.ShoppingList"></mapping>
        <mapping class="com.codecool.shop.entities.ShoppingListDetails"></mapping>
        <mapping class="com.codecool.shop.entities.Customer"></mapping>
        <mapping class="com.codecool.shop.entities.CustomerDetails"></mapping>
    </session-factory>

</hibernate-configuration>
